<h1>Admin Dashboard</h1>
<table>
  <tr>
    <td> Total count of products </td>
    <td> <%= @products %> </td>
  </tr>
  <tr>
    <td> Total count of categoreies </td>
    <td> <%= @categories %>  </td>
  </tr>
</table>